@font-face {
    font-family: 'CentimaMonoBold';
    src: url("/font/CentimaMonoBold.ttf");
    font-display: auto;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url("/font/DejaVuSansMono.ttf");
    font-display: auto;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url("/font/DejaVuSansMono-Bold.ttf");
    font-weight: bold;
    font-display: auto;
}

* {
    font-family: DejaVuSansMono, monospace;
    font-size: 15px;
}
