* {
    box-sizing: border-box;
}

html {
    display: block;
}

body {
    display: block;
    margin: 0;
    line-height: 1.5;
    background: #EBEDDF;
    color: #072224
}

body.dark-mode {
    background: #072224;
    color: #EBEDDF;

    .site-title {
        color: #C3E472;
        text-align: center;
    }

    .social ul a {
        color: #C3E472;
    }

    .social ul a:hover {
        color: #6CA183;
    }

    .social ul a:active {
        color: #1E4548
    }

    .menu-link:hover, .post-link:hover, a:hover {
        color: #C3E472;
    }
    
    .menu-link:active, .post-link:active, a:active {
        color: #6CA183;
    }

    code {
        border: dashed 1px #C3E472;
        background-color: #EBEDDF;
    }

    blockquote {
        border: dashed 1px #C3E472;
    }

    .divider {
        border-color: #EBEDDF;
    }
}

.title {
    font-family: "CentimaMonoBold", sans-serif;
}

.site-title {
    text-align: center;
    color: #6CA183;
}

.h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.h3 {
    font-size: 1.75rem;
}

.h5 {
    font-size: 1.25rem;
}

.h6 {
    font-size: 1rem;
}

hr {
    opacity: .25;
    margin: 1rem 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: inherit;
}

.back-link {
    font-size: .75rem;
}

.container, .header {
    max-width: 900px;
}

.container {
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.header-utils {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

code {
    display: block;
    border: dashed 1px #6CA183;
    background-color: #f7f9fe;
    padding: 1rem;
    text-wrap: none;
    overflow: auto;
    overflow-y: hidden;
    font-size: .80rem;
}

blockquote {
    display: block;
    border: dashed 1px #6CA183;
    padding: 1rem;
    font-style: italic;
    font-weight: bold;
}

blockquote p {
    margin: 0;
}

figure img {
	width: 100%;
}

figure figcaption {
	padding: none;
	margin: none;
	text-align: center;
}

figure figcaption h4 {
	margin-top: 2px;
	font-style: italic;
	font-weight: normal;
}

.header-container, .footer {
    width: 300px;
}

.header-container {
    flex-flow: row wrap;
}

.header-container, .social {
    margin: auto;
}

.menu ul, .social ul {
    display: flex;
    justify-content: space-around;
}

.menu ul, .social ul, .article-list {
    list-style: none;
    padding: 0;
}

.menu-link {
    text-decoration: none;
}

.menu-link, .post-link, .article-body {
    color: inherit;
}

.social ul a {
    color: #6CA183
}

.social ul a:hover {
    color: #1E4548;
}

.social ul a:active {
    color: #C3E472;
}

.menu-link:hover, .post-link:hover, a:hover {
    color: #6CA183;
}

.menu-link:active, .post-link:active, a:active {
    color: #C3E472;
}

.divider {
    border: 1px solid;
    border-color: #6CA183;
    margin-bottom: 0.5rem;
}

.line-break {
    width: 100%;
}

.container, .about-section, .article-list-body, .article-body {
    margin-top: 2rem;
}

.about-text, .article-list-body, .article-body, .article-title {
    text-align: justify;
}

.footer {
    margin: 3rem auto auto;
}

@media (max-width: 500px) {
    * {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .back-link-div {
        display: none;
    }
}
